.carousel-item {
  position: relative;
}
.carousel-inner .carousel-item {
  height: 500px; /* Adjust this value as needed */
}

.carousel-inner .carousel-item img {
  height: 100%; /* Make the image fill the container's height */
  object-fit: cover; /* This will crop the image to fill the space */
}

.carousel-item::before,
.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px; /* control fade size */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.carousel-item::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

.carousel-item::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #666; /* inactive */
}

.videoplayer{
    position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* This is the 16:9 aspect ratio (9 / 16 = 0.5625) */
  height: 0;
  overflow: hidden;
}
.videoplayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  text-align: left; 
  left: 5%; 
  bottom: 10%; 
}

.carousel-caption h5 {
  font-size: 1.5rem; 
  font-weight: bold;
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
  font-size: 1rem; 
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }